{% extends 'base.html.twig' %}

{% block title %}Registroentrada index{% endblock %}

{% block body %}
    <h1>Registroentrada index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Cantidad</th>
                <th>Objeto Introducido</th>
                <th>Usuario de la operación</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for registroentrada in registroentradas %}
            <tr>
                <td>{{ registroentrada.id }}</td>
                <td>{{ registroentrada.fecha ? registroentrada.fecha|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ registroentrada.cantidad }}</td>
                <td>{{ registroentrada.Objetosalmacen }}</td>
                <td>{{ registroentrada.user }}</td>
                <td>
                    <a href="{{ path('app_registroentrada_show', {'id': registroentrada.id}) }}">show</a>
                    <a href="{{ path('app_registroentrada_edit', {'id': registroentrada.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_registroentrada_new') }}">Crear nueva entrada</a>
{% endblock %}
